<div *ngIf="apiLoaded | async">
  <!-- google-maps-demo.component.html -->
  <google-map
    height="450px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
      (mapClick)="openInfoWindow(marker)"
    ></map-marker>
    <map-info-window>Info Window content</map-info-window>
  </google-map>

  <div>Latitude: {{ display?.lat }}</div>
  <div>Longitude: {{ display?.lng }}</div>

  <br />
</div>
